{
	:puppet_version            => '3.3.0',
  :mcollective_version       => 2.2,
	:puppetlabs_el5_rpm_repo   => 'http://yum.puppetlabs.com/puppetlabs-release-el-5.noarch.rpm',
  :puppetlabs_el6_rpm_repo   => 'http://yum.puppetlabs.com/puppetlabs-release-el-6.noarch.rpm',
	:puppetlabs_el7_rpm_repo   => 'http://yum.puppetlabs.com/puppetlabs-release-el-7.noarch.rpm',
	:rpm_forge_el5_X86_64_repo => 'http://apt.sw.be/redhat/el5/en/x86_64/rpmforge/RPMS/rpmforge-release-0.5.3-1.el5.rf.x86_64.rpm',
	:rpm_forge_el5_i686_repo   => 'http://apt.sw.be/redhat/el5/en/i386/rpmforge/RPMS/rpmforge-release-0.5.3-1.el5.rf.i386.rpm',
	:rpm_forge_el6_X86_64_repo => 'http://apt.sw.be/redhat/el6/en/x86_64/rpmforge/RPMS/rpmforge-release-0.5.3-1.el6.rf.x86_64.rpm',
	:rpm_forge_el6_i686_repo   => 'http://apt.sw.be/redhat/el6/en/i386/rpmforge/RPMS/rpmforge-release-0.5.3-1.el6.rf.i686.rpm',
	:puppet_omnibus_deb64      => 'http://dtk-storage.s3.amazonaws.com/puppet-omnibus_2.7.23-fpm0_amd64.deb',
	:puppet_omnibus_rpm64      => 'http://dtk-storage.s3.amazonaws.com/puppet-omnibus-2.7.23.fpm0-1.x86_64.rpm',
  :upgrades => {
    :redhat => ['openssl', 'bash'],
    :debian => ['openssl', 'bash']
  }
}